<div class="container">
    <div id="display"></div>
    <section id="numeros">
        <div class="number">9</div>
        <div class="number">8</div>
        <div class="number">7</div>
        <div class="number" id="mais">+</div>
        <div class="number" id="deletar">⌫</div>
        <div class="number">6</div>
        <div class="number">5</div>
        <div class="number">4</div>
        <div class="number" id="menos">-</div>
        <div class="number" id="limpar">C</div>
        <div class="number">3</div>
        <div class="number">2</div>
        <div class="number">1</div>
        <div class="number" id="multiplicar">*</div>
        <div class="number">/</div>
        <div class="number" id="igual">=</div>
        <div class="number" id="divisao">0</div> 
    </section>
</div>